@font-face {
    font-family: marvel;
    src: url(../assets/text/AvengeRegular-Yzdxy.ttf);
}

#card{
    z-index: 2;
}

#card img{
    border: 1.5px solid black;
    border-radius: 0.4rem;
    width: 7rem;
    height: 10rem;
    transition: border 0.1s ease-in-out;
    margin: 5px 55px;
}

#card img:hover{
    border: 1.5px solid rgb(255, 255, 255);
}

#timeline{
    width: 560rem;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 2;
}

#timeline > :nth-child(2){
    margin-left: 75px;
    margin-top: 10rem;
}


