body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: grab;
}

h1,
h2,
h3,
p,
a,
img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  cursor: grab;
  user-select: none;
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
  outline: none;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

header {
  margin: 15px;
  padding: 0;
  position: relative;
  z-index: 10;
  display: flex;
}

header h1 {
  font-family: "marvel";
  color: white;
  font-size: 3.6rem;
  margin: 0;
}

#main_button {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  z-index: 1;
  padding: 0;
}

header img {
  width: 5rem;
  border-radius: 100%;
  transition: box-shadow 0.2s ease-out;
}

#remoteControl {
  position: absolute;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 2px solid black;
  width: 9rem;
  height: 17rem;
  border-radius: 20%;
  background-color: #f5b561;
  perspective: 23rem;
}

#remoteControl h1 {
  font-size: 12px;
  width: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#remoteControl button {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 7rem;
  height: 4rem;
  z-index: 1;
  display: flex;
  border-radius: 45%;
  margin-top: 15px;
  padding: 17px;
}

#option {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}

.option {
  margin: 0px 5px;
  font-family: "marvel";
  font-size: 1.5rem;
  width: 7rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border: 1px solid black;
}

#slider {
  width: 5rem;
  height: 5rem;
  border: none;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.option:hover {
  background-color: white;
}

@keyframes slideIn {
  from {
    width: 5rem;
  }
  to {
    width: 28rem;
  }
}

.slide {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideOut {
  from {
    width: 28rem;
  }
  to {
    width: 5rem;
  }
}

.slideOut {
  animation: slideOut 0.3s ease-out forwards;
}
